/* html, body {
    overflow: hidden;
} */
.container {
  border: solid #6ac5ac 2px;
}
nav {
  border: solid #d64078 2px;
  float: left;
  /* width: 25%; */
}

section {
  border: solid #fdc72f 2px;
  /* width: 75%; */
  /* margin-left: 25%; */
}

.controller-container {
  border: solid black 2px;
}

.output-container {
  border: solid red 1px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.button,
.output {
  border: solid black 1px;
  border-radius: 4px;
  vertical-align: middle;
}

.output {
    width : 38px;
}

.button {
  width: 38px;
  height: 38px;
}

.button:active {
  /* border: solid red 1px; */
  box-shadow: inset 0 0 4pt 1pt #929292;
}

#btn-anticlock {
  background: url("./elements/baseline_rotate_left_black_18dp.png");
}
#btn-clockwise {
  background: url("./elements/baseline_rotate_right_black_18dp.png");
}
#btn-delete {
  background: url("./elements/baseline_close_black_18dp.png");
}
