html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.container {
  border: solid #6ac5ac 2px;
  position: relative;
}
nav {
  border: solid #d64078 2px;
  float: left;
  /* width: 25%; */
}

section {
  border: solid #fdc72f 2px;
  /* width: 75%; */
  /* margin-left: 25%; */
}

.controller-container {
  border: solid rgb(185, 178, 178) 1px;
}

.output-container {
  border: solid red 1px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.button,
.output {
  border: solid black 1px;
  border-radius: 4px;
  vertical-align: middle;
}

.output {
    width : 38px;
}

.button {
  width: 38px;
  height: 38px;
  margin: 2px;
}

.button:active {
  /* border: solid red 1px; */
  box-shadow: inset 0 0 4pt 1pt #929292;
}

#btn-anticlock {
  background: url("./elements/baseline_rotate_left_black_18dp.png");
}
#btn-clockwise {
  background: url("./elements/baseline_rotate_right_black_18dp.png");
}
#btn-delete {
  background: url("./elements/baseline_close_black_18dp.png");
}

#footer {
  /* background-color: sandybrown;
  border: solid salmon 1px;
  width : 38px;
  height: 38px;
  width: 100%;
  position: fixed;
  bottom: 0; */
  box-shadow: 0 1px 4px 2px #929292;
}

#footer div {
  margin-left: 38px;
}

#toggle-btn {
  background-image: url("./elements/menu-24px.svg");
  border: solid salmon 1px;
  width : 38px;
  height: 38px;
  position: fixed;
  bottom: 0;
}

.sidenav {
  width: 100%; /* 100% Full-height */
  height: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(179, 175, 175, 0.5); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}